{{- if .Values.metrics.enabled }}
{{- if and .Values.querynode.enabled .Values.cluster.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "milvus-ha.querynode.fullname" . }}
  labels:
{{ include "milvus-ha.labels" . | indent 4 }}
    component: "querynode"
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: metrics
      protocol: TCP
      port: 9091
      targetPort: metrics
  selector:
{{ include "milvus-ha.matchLabels" . | indent 4 }}
    component: "querynode"
{{- end }}
{{- end }}